{{- /* Comments area start */ -}}
{{- $tweetId := (.Param "tweetId") }}
{{- if $tweetId }}
<ul class="post-comment">
    <li>
        <a href='https://twitter.com/intent/tweet?in_reply_to={{ $tweetId }}' target="_blank" title="Post a comment">
            <i class="fab fa-twitter"></i>&nbsp;&nbsp;Post a comment
        </a>
    </li>
    <li>
        <a href='https://twitter.com/intent/like?tweet_id={{ $tweetId }}' target="_blank" title="Like this post">
            <i class="far fa-heart"></i>&nbsp;&nbsp;Like this post
        </a>
    </li>
</ul>
{{ end }}
{{- /* Comments area end */ -}}
